@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-color: hsl(var(--border));
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 236 5% 29%;
    --card: 0 0% 100%;
    --card-foreground: 236 5% 29%;
    --popover: 0 0% 100%;
    --popover-foreground: 236 5% 29%;
    --primary: 144 31% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 236 5% 29%;
    --secondary-foreground: 0 0% 100%;
    --muted: 144 31% 95%;
    --muted-foreground: 236 5% 45%;
    --accent: 144 31% 95%;
    --accent-foreground: 144 31% 32%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 236 5% 90%;
    --input: 236 5% 90%;
    --ring: 144 31% 42%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 236 5% 15%;
    --foreground: 0 0% 95%;
    --card: 236 5% 17%;
    --card-foreground: 0 0% 95%;
    --popover: 236 5% 17%;
    --popover-foreground: 0 0% 95%;
    --primary: 144 31% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 236 5% 29%;
    --secondary-foreground: 0 0% 100%;
    --muted: 236 5% 25%;
    --muted-foreground: 236 5% 65%;
    --accent: 144 31% 20%;
    --accent-foreground: 144 31% 80%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 236 5% 25%;
    --input: 236 5% 25%;
    --ring: 144 31% 42%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-icon {
    @apply mb-4 inline-flex h-12 w-12 items-center justify-center rounded-lg bg-primary/10 text-primary transition-all duration-300 group-hover:scale-110 group-hover:bg-primary group-hover:text-white;
  }
}
.animate-spin-slow {
  animation: spin 5s linear infinite;
}
.transition-colors {
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
